/* CSS는 천천히 정리하도록 하자 */

@font-face {
  src: url("../assets/fonts/SCDream5.otf");
  font-family: "score_dream";
}

* {
  font-family: "score_dream";
}

html {
  scroll-behavior: smooth;
}

body {
  background: #37474f;
}

.section-underbar {
  width: 80px;
  border: 2px solid white;
  margin: 0px auto;
}

#myBtn {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #1E284B;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

#myBtn:hover {
  color: #1E284B;
  background-color: #C6C3E3;
}

/* reboot.scss 때문에 a태그에 바로 style 적용이 안됨 */
/* class를 따로 정해서 모든 a태그에 아래의 class를 적용시킨다. */
.anchor {
  text-decoration: none;
}

#about-part .about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-skill,
.design-skill {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.to-be {
  font-size: 30px;
}

.to-be:hover {
  font-size: 50px;
  cursor: pointer;
}

.section-part {
  padding-top: 56px;
}

#introduction-part {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1E284B, #111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

#about-part {
  background-color: #184079;
}

#language-part {
  background-color: #1657A1;
}

#skill-part {
  background-color: #1A6AB3;
}

#portfolio-part {
  background-color: #2B97D4;
}

#closing-part {
  background-color: #9CCBEF;
}

.intro-text {
  color: white;
  font-size: 30px;
}

#engineer {
  color: #7A78B7;
}

#artist {
  color: #AEABD6;
}

#leader {
  color: #C6C3E3;
}

.stars {
  position: absolute;
  transform: rotateZ(40deg);
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  width: 100px;
  background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699BFF);
  animation: tail 3s ease-in-out infinite,
    falling 3s ease-in-out infinite;
}

@keyframes tail {
  0% {
    width: 0px;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

.star::before,
.star::after {
  content: '';
  position: absolute;
  /* top: calc(50% - 2px); */
  right: 0;
  height: 4px;
  width: 30px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
  0% {
    width: 0px;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

/* 야 시발ㅋㅋ 50%-100px 라고 쓰면 안되고 */
/* 50% - 100px 로 띄워쓰면 되냐 ㅋㅋㅋㅋ */
.star:nth-child(1) {
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1.2s;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 1.2s;
}

.star:nth-child(2) {
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.4s;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: 1.4s;
}

.star:nth-child(3) {
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.6s;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 1.6s;
}

.star:nth-child(4) {
  top: calc(50% + 50px);
  left: calc(50% - 200px);
  animation-delay: 1.8s;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 1.8s;
}

.star:nth-child(5) {
  top: calc(50% + 100px);
  left: calc(50% - 250px);
  animation-delay: 2s;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
  animation-delay: 2s;
}

.spinner-box {
  width: 650px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.solar-system {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffffa5;
  border-radius: 50%;
  /* margin: 0px auto; */
}

.orbit-hover {
  border: 10px solid #ffffff;
}

.earth-orbit {
  width: 350px;
  height: 350px;
  animation: spin 12s linear 0s infinite;
}

.venus-orbit {
  width: 290px;
  height: 290px;
  animation: spin 9s linear 0s infinite;
}

.mercury-orbit {
  width: 210px;
  height: 210px;
  animation: spin 5s linear 0s infinite;
}

.planet {
  position: absolute;
  top: -7.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.planet-hover {
  width: 30px;
  height: 30px;
  top: -20px
}

.earth {
  background: #7A78B7;
}

.venus {
  background: #AEABD6;
}

.mercury {
  background: #C6C3E3;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffab91;
}

.sun:hover {
  width: 150px;
  height: 150px;
}

.view-work {
  color: white;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  transition: all .3s;
}

.view-work:hover {
  background-color: #9CCBEF;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

.part {
  border: 1px solid black;
  width: 800px;
  padding: 20px;
}

.closing {
  margin-top: 250px;
  margin-bottom: 250px;
  position: relative;
  float: none;
  transform: rotate(-35deg);
}

.closing .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -50px;
  /* width: 400px; */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  animation: animateSurface 1.5s ease-in-out infinite;
}

@keyframes animateSurface {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-200px);
  }
}

.closing .box .cube {
  position: relative;
  width: 200px;
  height: 200px;
  background: #03e9f4;
  box-shadow: 0 0 50px #7A78B7, 0 0 25px #7A78B7,
    0 0 50px #AEABD6, 0 0 100px #C6C3E3;
  /* 0 0 200px rgba(3, 233, 244, 0.5); */
  /* 0 0 300px rgba(3, 233, 244, 0.5); */
  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(90deg);
  }

  65% {
    transform: rotate(85deg);
  }

  70% {
    transform: rotate(90deg);
  }

  75% {
    transform: rotate(87.5deg);
  }

  80%,
  100% {
    transform: rotate(90deg);
  }
}

.div-center {
  float: none;
  margin: 0 auto
}

.skill-text {
  color: white;
}

.list-factor {
  display: flex;
  align-items: center;
}